@import "tailwindcss";

:root {
  font-family: "Playfair Display", serif;
  --btn-primary: #f9c06a;
  --btn-primary-hover: #f6b14a;
  --coffee-color: #603809;
}

h1 {
  font-size: 26px;
  font-weight: bold;
}

/* md */
@media (min-width: 768px) {
  h1 {
    font-size: 30px;
    font-weight: bold;
  }
}

/* xl */
@media (min-width: 1280px) {
  h1 {
    font-size: 60px;
  }
}
